/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/TopBar/TopBar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.TopBar_container__uTi_S{
    width: 100%;
    background-color: #F3EDF7;
    height: 70px;
    display: flex;
    align-items: center;
}

.TopBar_C1__rXfhk{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
}

.TopBar_C2__G13WF{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
}

.TopBar_C3__PH8iS{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
}

.TopBar_h5__I5GqT{
    margin: 0;

}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/LeftBar/LeftBar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.LeftBar_container__UnvFb{
    background-color: #D9D9D9;
    width: 150px;
}


.LeftBar_parrafo___nEAm{
    text-align: center;
    font-size: 15px;
}

.LeftBar_lnk__1ns7F{
    text-decoration: none;
    color:rebeccapurple;
    text-decoration: underline;

  }
  
.LeftBar_lnk__1ns7F:hover{
    color: black;
}

.LeftBar_menu__P_mym{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.LeftBar_menu__P_mym:hover{
    background-color: #906f9c;
}

.LeftBar_v1__6YcoA{
    text-align: center;
    font-size: 15px;
}


/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/pantalla_principal_docente/page.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__Umd6s {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page_main__teTwK {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.page_contenido__jz4MG {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.page_linea__OEOFL {
  background-color: silver;
  height: 0.2rem;
  padding: 0rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.page_sectionUltimasReservas__x_3C7,
.page_sectionLosMasPedidos__9ACMU {
  margin-top: 100px;
}

.page_verTodoButton__Wszir {
  display: flex;
  justify-content: flex-end;
}

.page_verTodoButton__Wszir button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.page_verTodoButton__Wszir button:hover {
  text-decoration: underline;
}

.page_booksContainer__mmhvB {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.page_book__9TFG6 {
  flex-basis: calc(50% - 20px);
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

