/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/TopBar/TopBar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.TopBar_container__uTi_S{
    width: 100%;
    background-color: #F3EDF7;
    height: 70px;
    display: flex;
    align-items: center;
}

.TopBar_C1__rXfhk{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
}

.TopBar_C2__G13WF{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
}

.TopBar_C3__PH8iS{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5%;
}

.TopBar_h5__I5GqT{
    margin: 0;

}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/LeftBar/LeftBar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.LeftBar_container__UnvFb{
    background-color: #D9D9D9;
    width: 150px;
}


.LeftBar_parrafo___nEAm{
    text-align: center;
    font-size: 15px;
}

.LeftBar_lnk__1ns7F{
    text-decoration: none;
    color:rebeccapurple;
    text-decoration: underline;

  }
  
.LeftBar_lnk__1ns7F:hover{
    color: black;
}

.LeftBar_menu__P_mym{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.LeftBar_menu__P_mym:hover{
    background-color: #906f9c;
}

.LeftBar_v1__6YcoA{
    text-align: center;
    font-size: 15px;
}


/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/Input/Input.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Input_container__7Goxk{
	position: relative;
	
}

.Input_label__mcV2a{
	
	position: absolute;
	background-color:white;
	margin-left:10px;
	
}

.Input_input__7s5ug{
	display: block;
	margin-bottom: 2rem;
	padding: .5rem 2rem;
	border-radius: 5px;
	margin-top: 13px;
	border-radius: 10px;
	border: 0;

	outline: solid 2px rebeccapurple;
	
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/pantalla_biblioteca/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__0_xDR {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page_main__d6u5u {
  height: 100%;
  display: flex;
}

.page_contenido__FEYx0 {
  flex: 1 1;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page_containerTitulo__kw28E {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.page_titulo__ca3Yg {
  font-size: 24px;
  color: #333;
}

.page_nuevoRecursoBtn__acJae {
  padding: 10px 20px;
  background-color: #6750a4;
  color: #fff;
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.page_nuevoRecursoBtn__acJae:hover {
  background-color: #542c85;
}

.page_linea__4rxzx {
  height: 2px;
  background-color: #ddd;
  margin-bottom: 20px;
}

.page_buscar__MOl9M {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.page_inputBusqueda__CaQMR {
  flex: 1 1;
  padding: 10px;
  border: 1px solid #6750a4;
  border-radius: 4px;
  margin-right: 10px;
}

.page_boton__t0Psj {
  background-color: #6750a4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.page_boton__t0Psj:hover {
  background-color: #542c85;
}

.page_librosContainer__XidqH {
  display: flex;
  justify-content: space-between;
}

.page_libro__CGaNi {
  flex: 1 1;
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
}

.page_circulo__Zd82w {
  width: 40px;
  height: 40px;
  background-color: #6750a4;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.page_libro__CGaNi h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.page_libro__CGaNi img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.page_libro__CGaNi p {
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}

.page_reservarBtn__oYrEc {
  background-color: #6750a4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.page_reservarBtn__oYrEc:hover {
  background-color: #542c85;
}

