/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_container__HHToX {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page_form_box__tTAI2 {
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
  color: #6750A4;
}

.page_form_input__USnPn {
  width: 100%;
  height: 40px;
  padding: 8px;
  border: 2px solid #6750A4;
  border-radius: 6px;
  font-size: 16px;
}

h1.page_titulo__BnB4R {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  font-weight: bold;
}

.page_button-container__SrK6f {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

button.page_registrousuario__KiwTq,
button.page_ingresar__cPuNx {
  width: 150px;
  height: 40px;
  background: #E8DEF8;
  border: none;
  border-radius: 15px;
  color: #1D192B;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

button.page_registrousuario__KiwTq {
  color: #6750A4;
  background: none;
  border-radius: 15px;
}

button.page_registrousuario__KiwTq:hover,
button.page_ingresar__cPuNx:hover {
  background: #6750A4;
  color: #FFFFFF;
}

.page_parrafo1__7UWIl {
  text-align: center;
  margin-top: 10px;
}

.page_parrafo__xj2Og {
  font-size: 12px;
  font-weight: 400;
  color: #6750A4;
}

.page_lnk__4DrZK {
  text-decoration: none;
  color: #6750A4;
  font-weight: 750;
}

.page_lnk__4DrZK:hover {
  text-decoration: underline;
  color: #6750A4;
}

